<template>
    <lightning-card>
        <lightning-input label="Search Key" onchange={searchKeyHandler}></lightning-input>
        <!-- <header class="slds-card__header slds-media slds-media_center">
            <div class="slds-media__body slds-card__header-title slds-text-title_bold" style="font-size: 25px">
                Account Name:-
            </div>
        </header> -->
        <template if:true={responseReceived}>        
            <template for:each={accountList} for:item="account">
            <div key={account.Id}>{account.Name}</div>
        </template>
    </template>
        <!-- <div if:true={accounts.error}>{accounts.error}</div> -->
    </lightning-card>
</template>