<template>
    <article class="slds-card">
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <span>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="text-input-id-47">
                            <abbr class="slds-required" title="required">* </abbr>firstName</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="text-input-id-47" placeholder="firstName" required=""
                                class="slds-input" onchange={firstNameHandle}/>
                        </div>
                    </div>
                </span>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <span>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="text-input-id-47">
                            <abbr class="slds-required" title="required">* </abbr>lastName</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="text-input-id-48" placeholder="lastName" required=""
                                class="slds-input"  onchange={lastNameHandle}/>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <fieldset class="slds-form-element">
            <legend class="slds-form-element__legend slds-form-element__label">Gender</legend>
            <div class="slds-form-element__control">
                <span class="slds-radio">
                    <input type="radio" id="radio-77" value="Male" name="default" onchange={genderHandle}/>
                    <label class="slds-radio__label" for="radio-77">
                        <span class="slds-radio_faux"></span>
                        <span class="slds-form-element__label">Male</span>
                    </label>
                </span>
                <span class="slds-radio">
                    <input type="radio" id="radio-78" value="Female" name="default" onchange={genderHandle}/>
                    <label class="slds-radio__label" for="radio-78">
                        <span class="slds-radio_faux"></span>
                        <span class="slds-form-element__label">Female</span>
                    </label>
                </span>
            </div>
        </fieldset>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <span>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="text-input-id-2">
                            <abbr class="slds-required" title="required">* </abbr>Designation</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="text-input-id-2" placeholder="Designation" required=""
                                class="slds-input" onchange={designationHandle}/>
                        </div>
                    </div>
                </span>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <span>
                    <div class="slds-form-element">
                        <div class="slds-form-element__control">
                            <div class="slds-p-top_large">
                                <div class="slds-checkbox">
                                    <input type="checkbox" name="options" id="checkbox-unique-id-112"
                                        value="checkbox-unique-id-112" onchange={fulltimeHandle}/>
                                    <label class="slds-checkbox__label" for="checkbox-unique-id-112">
                                        <span class="slds-checkbox_faux"></span>
                                        <span class="slds-form-element__label">Full Time</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1d-of-2">
                <span>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="text-input-id-2">
                            <abbr class="slds-required" title="required">* </abbr>Salary</label>
                        <div class="slds-form-element__control">
                            <input type="number" id="text-input-id-3" placeholder="Salary" required=""
                                class="slds-input"  onchange={salaryHandle}/>
                        </div>
                    </div>
                </span>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <span>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="text-input-id-2">
                            <abbr class="slds-required" title="required">* </abbr>Email</label>
                        <div class="slds-form-element__control">
                            <input type="email" id="text-input-id-4" placeholder="Email" required=""
                                class="slds-input" onchange={emailHandle}/>
                        </div>
                    </div>

                </span>
            </div>
        </div>
        <div class="slds-col slds-size_1-of-1">
            <span>
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="text-input-id-2">
                        <abbr class="slds-required" title="required">* </abbr>Description</label>
                    <div class="slds-form-element__control">
                        <input type="textarea" id="text-input-id-5" placeholder="Description" required=""
                            class="slds-input" onchange={descriptionHandle}/>
                    </div>
                </div>
            </span>
        </div>
        <br>
        <button class="slds-button slds-button_brand" onclick={submitHandle}>Submit</button>

        <element if:true={submit}>
            <div>Name: {firstName} {lastName} </div>
            <div>Gender : {gender}</div>
            <div>Designation: {designation}</div>
            <div>FullTime : {fulltime}</div>
            <div>Salary : {salary} </div>
            <div>Email : {email} </div>
            <div>Description : {description} </div>

        </element>
    </article>
</template>