<template>
    <article class="slds-card">
    <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered" aria-label="Example table of Opportunities with vertical borders">
        <thead>
        <tr class="slds-line-height_reset">
        <th class="" scope="col">
        <div class="slds-truncate" title="Name">Name</div>
        </th>
        <th class="" scope="col">
        <div class="slds-truncate" title="Gender">Gender</div>
        </th>
        <th class="" scope="col">
        <div class="slds-truncate" title="Designation">Designation</div>
        </th>
        <th class="" scope="col">
        <div class="slds-truncate" title="Full Time">Full Time</div>
        </th>
        <th class="" scope="col">
        <div class="slds-truncate" title="Salary">Salary</div>
        </th>
        <th class="" scope="col">
        <div class="slds-truncate" title="Email">Email</div>
        </th>
        <th class="" scope="col">
        <div class="slds-truncate" title="Description">Description</div>
        </th>
        <th class="" scope="col">
            <div class="slds-truncate" title="Actions">Actions</div>
        </th>
        </tr>
        </thead>
        <tbody>
           <template for:each={dataList} for:item="data" for:index="index">
               <tr key={keyIndex}>
                 <td>
                     <lightning-input name="name" access-key={index} type="text" onchange={changeHandler} value={data.name}></lightning-input>
                 </td>
                 <td>
                    <lightning-radio-group name="gender"  access-key={index} onchange={changeHandler}
                    options={options}
                    value={value}
                    type="radio">
                    </lightning-radio-group>
                 </td>
                 <td>
                    <lightning-input name="designation" access-key={index} type="text" onchange={changeHandler} value={data.designation}></lightning-input>
                 </td>
                 <td>
                     <lightning-input name="fulltime" type="checkbox" accesskey={index} onchange={changeHandler} value={data.fullyime}></lightning-input>
                 </td>
                 <td>
                     <lightning-input name="salary" type="number" accesskey={index} onchange={changeHandler} value={data.salary}></lightning-input>
                 </td>
                 <td>
                     <lightning-input name="email" type="email" accesskey={index} onchange={changeHandler} value={data.email}></lightning-input>
                 </td>
                 <td>
                    <lightning-textarea name="description" accesskey={index} onchange={changeHandler} value={data.description}></lightning-textarea>
                 </td>
                 <td>
                    <lightning-button variant="brand" accesskey={index} label="Delete" title="Primary action" onclick={removeRow} class="slds-m-left_x-small"></lightning-button> |
                    <lightning-button variant="brand" accesskey={index} label="Save" title="Primary action" onclick={saveRow} class="slds-m-left_x-small"></lightning-button>
                 </td>
               </tr>
           </template>
    </tbody>
    </table>
    <lightning-button variant="brand" label="Add Row" title="Primary action" onclick={addRow} class="slds-m-left_x-small"></lightning-button>
</article>
    </template>