<template>
    <lightning-card>
        <template for:each={listOfFields} for:item="field">
            <lightning-input label={field.label} name={field.apiName} onchange={inputChangeHandler} key={field.apiName}></lightning-input>
            
        </template>
        <!-- <header class="slds-card__header slds-media slds-media_center">
            <div class="slds-media__body slds-card__header-title slds-text-title_bold" style="font-size: 25px">
                Fill the details
            </div>
        </header>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="text" label="Account Name" name="Name" onchange={inputChangeHandler}></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="number" name="Phone" label="Phone" onchange={inputChangeHandler}></lightning-input>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="text" label="Parent Account"></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="number" name="Fax" label="Fax" onchange={inputChangeHandler}></lightning-input>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="text" name="AccountNumber" label="Account Number" onchange={inputChangeHandler}></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="url" label="Website" name="Website" onchange={inputChangeHandler}></lightning-input>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="text" label="Account Site" name="Site" onchange={inputChangeHandler}></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="text" label="Ticker Symbol" name="TickerSymbol" onchange={inputChangeHandler}></lightning-input>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="select-01">Type</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select class="slds-select" id="select-01" name="Type" onchange={inputChangeHandler}>
                                <option value="">Select</option>
                                <option>Prospect</option>
                                <option>Customer - Direct</option>
                                <option>Customer - Channel</option>
                                <option>Channel Partner/Reseller</option>
                                <option>Installation Partner</option>
                                <option>Technology Partner</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="select-01">Ownership</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select class="slds-select" id="select-02" name="Ownership" onchange={inputChangeHandler}>
                                <option value="">Select</option>
                                <option>Public</option>
                                <option>Private</option>
                                <option>Subsidiary</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="select-01">Industry</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select class="slds-select" id="select-03" name="Industry"  onchange={inputChangeHandler}>
                                <option value="">Select</option>
                                <option>Agriculture</option>
                                <option>Automobile</option>
                                <option>Banking</option>
                                <option>Biotechnology</option>
                                <option>Education</option>
                                <option>Electronics</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="number" name="NumberOfEmployees" label="Employees" onchange={inputChangeHandler}></lightning-input>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="currency" name="AnnualRevenue" label="Annual Revenue" onchange={inputChangeHandler}></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input type="text" name="Sic" label="SIC Code" onchange={inputChangeHandler}></lightning-input>
            </div>
        </div>
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input-address
                    address-label="BillingAddress"
                    street-label="Billing Street" 
                    city-label="Billing City"
                    country-label="Billing Country"
                    province-label="Billing State/Province"
                    postal-code-label="Billing ZIP/Postal Code"
                    street=""
                     name="BillingAddress" onchange={addressHandler} ></lightning-input-address>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-small">
                <lightning-input-address
                    address-label="Shipping Address"
                    street-label="Shipping Street"
                    city-label="Shipping City"
                    country-label="Shipping Country"
                    province-label="Shipping State/Province"
                    postal-code-label="Shipping ZIP/Postal Code"
                    name="ShippingAddress" onchange={addressHandler}></lightning-input-address>
            </div>
        </div> -->
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-2 slds-p-around_x-large">
                <lightning-button variant="brand" 
                                    label="Save" 
                                    title="Save" 
                                    onclick={createRecord}>
                 </lightning-button> | 
                <lightning-button variant="brand" 
                                    label="Cancel" 
                                    title="Cancel" 
                                    onclick={createRecord}>
                    </lightning-button>
            </div>
            </div>
            <!-- <div>Id: {accountId}</div>
            <div>GeneratedURl: {generatedUrl}</div> -->
    </lightning-card>
</template>