<template>
    <article class="slds-card">
        <header class="slds-card__header slds-media slds-media_center">
            <div class="slds-media__body slds-card__header-title slds-text-title_bold" style="font-size: 25px">
                Fill the details
            </div>
        </header>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered"
            aria-labelledby="element-with-table-label other-element-with-table-label">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                        <div class="slds-align_absolute-center" title="Name">Name</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-align_absolute-center" title="Gender">Gender</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-align_absolute-center" title="Designation">Designation</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-align_absolute-center" title="Full Time">Full Time</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-align_absolute-center" title="Salary">Salary</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-align_absolute-center" title="Email">Email</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-align_absolute-center" title="Description">Description</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-align_absolute-center" title="Action">Action</div>
                    </th>
                </tr>
            </thead>
            <tbody>

                <template for:each={listOfRecords} for:item="rec" for:index="index">
                    <tr key={rec} class="slds-hint-parent">
                        <td data-label="Name">
                            <div if:true={rec.edit}>
                                <lightning-input type="text" data-id={rec.id} name="Name" value={rec.Name} placeholder="Name"
                                    onchange={onNameHandle}></lightning-input>
                            </div>
                            <div if:false={rec.edit}>{rec.Name}</div>
                        </td>
                        <td data-label="Gender">
                            <div if:true={rec.edit}>
                                <lightning-radio-group name="Gender" data-id={rec.id} options={options} value={rec.Gender} type="radio"
                                    onchange={onGenderHandle}></lightning-radio-group>
                            </div>
                            <div if:false={rec.edit}>{rec.Gender}</div>
                        </td>
                        <td data-label="Designation">
                            <div if:true={rec.edit}>
                                <div class="slds-form-element">
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select class="slds-select" data-id={rec.id} name="Designation" value={rec.Designation}
                                                onchange={onDesignationHandle}>
                                                <option value="">Role</option>
                                                <option>Managet</option>
                                                <option>Developer</option>
                                                <option>Tester</option>
                                                <option>Traineee</option>
                                                <option>HR</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div if:false={rec.edit}>{rec.Designation}</div>
                        </td>
                        <td data-label="Full Time">
                            <div if:true={rec.edit}>
                                <lightning-input type="checkbox" data-id={rec.id} name="FullTime" value={rec.FullTime}
                                    onchange={onFullTimeHandle} checked={rec.fulltime}></lightning-input>
                            </div>
                            <div if:false={rec.edit}>
                                <div if:true={rec.fulltime}>
                                    <lightning-input type="checkbox" data-id={rec.id} name="FullTime" value={rec.FullTime}
                                        onchange={onFullTimeHandle} checked disabled>
                                    </lightning-input>
                                </div>
                                <div if:false={rec.fulltime}>
                                    <lightning-input type="checkbox" data-id={rec.id} name="FullTime" value={rec.FullTime}
                                        onchange={onFullTimeHandle} disabled></lightning-input>
                                </div>
                            </div>
                        </td>
                        <td data-label="Salary">
                            <div if:true={rec.edit}>
                                <lightning-input type="number" data-id={rec.id} name="Salary" value={rec.Salary} placeholder="**Salary**"
                                    onchange={onSalaryHandle}></lightning-input>
                            </div>
                            <div if:false={rec.edit}>{rec.Salary}</div>
                        </td>
                        <td data-label="Email">
                            <div if:true={rec.edit}>
                                <lightning-input type="email" data-id={rec.id} name="Email" value={rec.Email} placeholder="*****@gmail.com"
                                    onchange={onEmailHandle}></lightning-input>
                            </div>
                            <div if:false={rec.edit}>{rec.Email}</div>
                        </td>
                        <td data-label="Description">
                            <div if:true={rec.edit}>
                                <lightning-input type="textarea" data-id={rec.id} name="Description"
                                    value={rec.Description} placeholder="Description" onchange={onDescriptionHandle}></lightning-input>
                            </div>
                            <div if:false={rec.edit}>{rec.Description}</div>
                        </td>
                        <td>
                            <div if:true={rec.edit}>
                                <lightning-button variant="brand" label="SAVE" title="Primary action"
                                    class="slds-m-left_x-small " access-key={rec.id} onclick={saveHandler}>
                                </lightning-button>
                                <lightning-button variant="brand" label="DELETE" title="Primary action"
                                    class="slds-m-left_x-small " access-key={rec.id} onclick={removeHandler}>
                                </lightning-button>
                            </div>
                            <div if:false={rec.edit}>
                                <lightning-button variant="brand" label="EDIT" title="Primary action"
                                    class="slds-m-left_x-small" access-key={rec.id} onclick={editRowHandler}>
                                </lightning-button>
                                <lightning-button variant="brand" label="DELETE" title="Primary action"
                                    class="slds-m-left_x-small " access-key={rec.id} onclick={removeHandler}>
                                </lightning-button>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
        <div class="slds-p-top_large">
            <lightning-button variant="brand" label="Add Row" title="Successful action" class="slds-align_absolute-center "
                onclick={addRowHandler}>
            </lightning-button>
        </div>
    </article>
</template>