<template>
    <lightning-card>
        <!-- <header class="slds-card__header slds-media slds-media_center">
            <div class="slds-media__body slds-card__header-title slds-text-title_bold" style="font-size: 25px">
                Fill the details
            </div>
        </header> -->
        <lightning-layout multiple-rows="true" if:false={recordId}>
            <template for:each={listOfFields} for:item="field">
                <lightning-layout-item padding="around-small" size="6" key={field.Id}>
                    <div class="page-section page-header">
                        <lightning-input type={field.type} label={field.label} name={field.apiName} required={field.isRequired}
                            onchange={inputChangeHandler} key={field.apiName}></lightning-input>
                    </div>
                </lightning-layout-item>
            </template>
        </lightning-layout>
        <div class="slds-grid slds-wrap" if:false={recordId}>
            <div class="slds-align_absolute-center">
                <lightning-button variant="brand" label="Save" title="Save" onclick={createRecord}>
                </lightning-button> |
                <lightning-button variant="brand" label="Cancel" title="Cancel" onclick={resetHandler}>
                </lightning-button>
            </div>
        </div>
        <template if:true={recordId}>
            <lightning-layout multiple-rows="true">
                <template for:each={listOfFields} for:item="field">
                    <lightning-layout-item padding="around-small" size="6" key={field.Id}>
                        <div class="page-section page-header">
                            <lightning-input type={field.type} label={field.label} name={field.apiName} required={field.isRequired}
                                onchange={inputChangeHandler} key={field.apiName} value={field.val}
                                disabled={cancelStatus} checked={field.val}></lightning-input>
                        </div>
                    </lightning-layout-item>
                </template>
            </lightning-layout>
            <div class="slds-m-left_x-small">
                <div class="slds-align_absolute-center">
                    <div if:true={cancelStatus}>
                        <lightning-button label="Edit" variant="brand" onclick={editHandler}>
                        </lightning-button> |
                        <lightning-button variant="brand" label="Cancel" title="Cancel" onclick={resetHandler}>
                        </lightning-button>
                    </div>
                    <div if:false={cancelStatus}>
                        <lightning-button label="Save" variant="brand" onclick={createRecord}>
                        </lightning-button> |
                        <lightning-button variant="brand" label="Cancel" title="Cancel" onclick={resetHandler}>
                        </lightning-button>
                    </div>
                    
                </div>
            </div>
        </template>
    </lightning-card>
</template>