<template>
    <lightning-card>
        <div>recordId : {recordId}</div>
        <div>objectAPiName : {objectApiName}</div>
    <template for:each={listContacts} for:item="contact">
        <div key={contact.Name}>
            <c-child-component obj-contact={contact} onvaluechange={valuechangeHandler}></c-child-component>

            <!-- <template if:true={contact.isActive}>
                <div class="slds-text-color_succuess">{contact.Name}</div>
            </template>
            <template if:false={contact.isActive}>
                <div class="slds-text-color_error">{contact.Name}</div>
            </template> -->
        </div>
    </template>
    <div>value from child : {inputValue}</div>
</lightning-card>
</template>